* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .nav-item a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    margin: 5px 0;
}
  p{
    margin: 0 !important;
  }
  .custom_bg{
    background-color: #1A1A1A;
  }
  .parent_div h2 {
    font-size: 15px;
    padding: 10px 0px;
}
.parent_div img {
  height: auto;
  border-radius: 10px 0px 10px 0px;
}
.parent_div {
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
}
.pagination {
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: 0;
}
.pagination .page-item a {
  background: #494949;
  margin: 0 10px 0 0;
  display: inline-block;
  line-height: 42px;
  text-decoration: none;
  color: #fff;
  padding: 0 14px;
  min-width: 42px;
  text-align: center;
  transition: all 0.25s linear;
  box-sizing: border-box;
  border-radius: 10px !important;
  border: 0;
}
.pagination .active a {
background-color: #81d742 !important;
}
footer {
  background: #27272a;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  padding: 20px 0;
}
form input {
  outline: unset !important;
  box-shadow: unset !important;
}
form input::placeholder {
  font-size: 14px;
}
form button {
  background-color: #1a1a1a !important;
  border: 0 !important;
  outline: 0 !important;
}
.tabs_layout {
  background-color: #1A1A1A;
}
.tabs_layout a {
  background-color: #81d742;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 13px;
  margin: 5px 5px;
  display: inline-block; 
}
.for_mobile{
  display: none !important;
}
button.navbar-toggler {
  outline: 0 !important;
  box-shadow: unset !important;
}
.detail_page{
  background-color: #1A1A1A;
}
.detail_page h1,
.detail_page h3,
.detail_page h2
 {
  font-size: 23px;
  color: #fff;
}
.for_time {
  color: #fff;
  align-items: center;
}
.for_time i {
  padding: 10px;
  font-size: 16px;
}
.detail_page p{
  color:#fff;
  font-size: 16px;
}
.detail_page img {
  height: auto;
  border-radius: 10px 0px 10px 0px;
}
.detail_page ul{
  color: #fff;
}
.screenshots img {
  padding: 20px;
}
.parent_div h2 a {
  color: #000 !important;
  text-decoration: none !important;
}
.for_btn {
  padding: 10px 15px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin: 10px;
  border-radius: 10px;
}
.for_btn i {
  margin-right: 5px !important;
}
.detail_page h5 {
  font-size: 20px;
  color: #fff;
}
.join_telgram a {
  color: #fff;
  text-decoration: none;
  background-color: blue;
  padding: 10px 15px;
  border-radius: 10px;
}
  @media screen and (max-width: 576px) {
    .parent_div {
      height: auto;
      margin: 10px 0px;
  }
  .for_mobile{
    display: block !important;
  }
  .for_desktop{
    display: none !important;
  }
  .tabs_layout{
    display: none;
  }
  form input::placeholder {
    font-size: 12px;
  }
  }
  